* {
    margin: 0;
    padding: 0;
    background-origin: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: seashell;
    color: steelblue;
}
header {
    padding: 20px 35px;
    background-color: dimgray;
}
header h1 {
    font-weight: bolder;
    font-size: 36px;
    color: steelblue;
    margin: 0;
    display: inline;
}
header a {
    color: seashell;
    text-decoration: none;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
footer {
    background: slategray;
    width: 100%;
    padding: 40px 35 px;
}
footer h2 {
    display: inline;
    color: seashell;
    font-size: 15px;
    margin: 0;
}
section {
    padding: 60px;
}
.section-title {
    font-size: 45px;
    color:dimgray;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    display: inline-block;
    border-bottom: 3px solid steelblue;
    text-align: center;
    text-decoration: none;
}
.hero {
    background-image: url("../images/hero-background.JPG");
    height: 900px;
    background-size: cover;
    background-position: center;
}
.phantom {
    text-align: center;
}
.phantom h2 { 
    font-size: 50px;
    color: steelblue;
    padding: 20px 100px 0 100px;
    display: inline-block;
    text-align: center;
}
.phantom h3 {
    font-size: 30px;
    color: steelblue;
    padding: 0 100px 20px 100px;
    display: inline-block;
    text-align: center;
}

.section {
    text-align: center;
} 

.ryan-ruby {
    width: 1200px;
    margin: 30px auto 30px auto;
    background: steelblue;
    color: seashell;
    overflow: auto;
    border-radius: 10px;
}
.ryan-ruby img {
    width: 20%;
    float: left;
    padding: 30px;
    display: inline-block;
}.ryan-ruby p {
    font-size: 19px;
    width: 65%;
    float: left;
    line-height: 1.3;
    padding: 30px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.work {
    width: 1200px;
    margin: 30px auto 30px auto;
    background: dimgray;
    color: seashell;
    overflow: auto;
    border-radius: 10px;
}
.work p {
    font-size: 19px;
    width: 80%;
    line-height: 1.5;
    padding: 30px;
}
.contact {
    text-align: left;
    justify-content: center;
    align-items: flex-start;
    background-color: steelblue;
    border-radius: 10px;
    width: 1200px;
}

.contact h2 {
    font-size: 35px;
    color:seashell;
    margin-bottom: 35px;
    padding: 0 20px 0px 20px;
    display: inline;
    text-align: center;
    text-decoration: none;
    float: left;
    border-right: 3px solid seashell;
}
.contact-links {
    padding: 20px;
    color: seashell;
    display: inline-block;
    margin: 3.5%;
    border-radius: 15px;
}

.contact a {
    font-size: 20px;
    text-decoration: underline;
    color: seashell;
    display: inline-block;
}
.contact address {
    padding: 20px;
    color: seashell;
    display: inline-block;
    margin: 3.5%;
    border-radius: 15px;
}
.resume {
    
}